---
import AppLayout from '@/layouts/App.astro';
import Card from '@/components/Card/Card.astro';

import style from './index.module.scss'

const meta = {
  title: 'Welcome to Astro.',
}
---

<AppLayout {meta}>
  <div class={style.content}>
    <h1 class={style.heading}>Welcome to <span class={style['text-gradient']}>Astro</span></h1>
    <p class={style.instructions}>
      To get started, open the directory <code>src/pages</code> in your project.<br />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <ul role="list" class={style['link-card-grid']}>
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
      <Card
        href="https://astro.build/integrations/"
        title="Integrations"
        body="Supercharge your project with new frameworks and libraries."
      />
      <Card
        href="https://astro.build/themes/"
        title="Themes"
        body="Explore a galaxy of community-built starter themes."
      />
      <Card
        href="https://astro.build/chat/"
        title="Community"
        body="Come say hi to our amazing Discord community. ❤️"
      />
    </ul>
  </div>
</AppLayout>
