html {
  font-family: system-ui, sans-serif;
  background-color: #f6f6f6;
}
code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace;
}
