---
import DocumentLayout, { type Props as DocumentProps } from '../layouts/Document.astro';
export interface Props extends DocumentProps {}
export type { Meta } from '@/layouts/Document.astro';

const props = Astro.props;
---

<DocumentLayout {...props}>
  <main>
    <slot />
  </main>
</DocumentLayout>
